@charset "utf-8";

@font-face{
    font-family: semiBoldMontserrat;
    src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
}

@font-face{
    font-family: extraBoldMontserrat;
    src: url(../fonts/Montserrat/Montserrat-ExtraBold.ttf);
}

div#atalhos{
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    width: 90%;
    height: auto;
    margin: 2% auto;
    font-family: semiBoldMontserrat;
}

div#atalhos button{
    width: 180px;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-size: 13pt;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to left, rgb(104, 0, 0), rgb(184, 0, 0), rgb(255, 30, 0), rgba(184, 0, 0, 1), rgb(104, 0, 0));
    cursor: pointer;
}

div#atalhos button.finalizarPlantao{
    font-family: extraBoldMontserrat;
    background-image: linear-gradient(to left, rgb(1, 83, 0), rgb(2, 131, 0), rgb(4, 255, 0), rgb(2, 131, 0), rgb(1, 83, 0));
}

div#atalhos button:hover{
    box-shadow: 5px 5px 10px rgba(20, 20, 20, 0.5);
}