@charset "utf-8";

@font-face{
    font-family: semiBoldMontserrat;
    src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
}

/*******************************************************************/
/* Configurações das entregas pendentes */
section#correios{
    position: relative;
    width: 100%;
    height: auto;
    margin: 5% auto;
    font-family: semiBoldMontserrat;
}

section#correios h1{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 30pt;
    color: rgb(255, 30, 0);
}

div#entregasPendentes{
    position: relative;
    width: 90%;
    height: auto;
    margin: 5% auto;
}

div#entregasPendentes table{
    width: 100%;
    height: auto;
    margin: 0;
}

div#entregasPendentes th{
    padding: 1%;
    text-align: center;
    font-size: 1.2em;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}

div#entregasPendentes td{
    padding: 1%;
    text-align: center;
    font-size: 1em;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgba(61, 61, 61, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

div#entregasPendentes button{
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    background-image: linear-gradient(to left, rgb(40, 0, 0), rgba(144, 0, 0, 1), rgb(255, 30, 0), rgba(144, 0, 0, 1), rgb(40, 0, 0));
}

div#entregasPendentes button img{
    width: 35px;
    height: auto;
}

div#entregasPendentes button:hover{
    box-shadow: 5px 5px 10px rgba(20, 20, 20, 0.5);
}

section#correios div.container{
    display: flex;
    align-items: initial;
    justify-content: space-between;
}

section#correios div.container div{
    width: 47%;
    height: auto;
    margin: 0 auto auto auto;
}

section#correios div.container div table{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 0;
}

section#correios div.container div table th{
    padding: 1%;
    text-align: center;
    font-size: 1.2em;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}

section#correios div.container div table td{
    padding: 1%;
    text-align: center;
    font-size: 11pt;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgba(61, 61, 61, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}